*{
    background-color: #D9D7F1;
}


input{
    font-size: 20px;
   
}
.btn {
    display: block;
    margin:0 auto;
    
    width: 30%;
    
}


.afficheur {
    display: block;
    margin:0 auto;
    padding:25px;
    width: 30%;
    

}
.afficheur input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
   border: 3px solid #D6E5FA;
   background-color: #ffffff;
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid #7C99AC;
    border-radius: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: #7C99AC;
    color: #fff;
}
button:hover{
    background-color: #D6E5FA;
}
.C{
    margin-left: 105px;
    background-color: #7C99AC;
}

@media only screen and(min-width:700px) {
    
}